name: CI

on:
  pull_request:
    branches: [main, dev]
    paths:
      - '**.java'
      - 'pom.xml'
      - 'src/**'
      - '.github/workflows/ci.yml'
  push:
    branches: [dev, main]
    paths:
      - '**.java'
      - 'pom.xml'
      - 'src/**'
      - '.github/workflows/ci.yml'
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      upload-coverage: true
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
